.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
}

.ad-space {
  flex: 0 0 300px; /* Más ancho para pantallas grandes */
  background-color: white;
  padding: 30px;
}

.main-content {
  flex: 1;
  padding: 40px;
  background-color: white;
  max-width: 1000px; /* Más ancho del contenido */
  margin: 0 auto;
}

/* Para pantallas muy grandes */
@media (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
  
  .ad-space {
    flex: 0 0 350px;
  }
  
  .main-content {
    max-width: 1100px;
  }
}


.header-recetas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: #e6f2e6;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  width: fit-content; /* solo ocupa el espacio necesario */
}
